!!! 5
html
  head
    title= "Session Vars - Key Value Pairs"
  body
    h1 Session Variables
        ul#sessionVars
          each value, key in session
            li #{key} #{value}

    h1 Add a New Session Variable
        form(action="/secure/session", method="get")
            input(type="hidden", name="operation", value="add")
            label(for="keyInput") Key:
                input(type="text", name="keyInput", value="")
            label(for="valueInput") Value:
                input(type="text", name="valueInput", value="")
            buttons
                input(type="submit", value="Add")